.search-container {
    width: 100%;
    max-width: 380px;
    height: 100%;
    position: relative;
    --tw-bg-opacity: 1;
    background-color: rgb(15 17 23 / var(--tw-bg-opacity));
    color: white;
    font-size: 16px;
    padding-inline: 10px;
    border-radius: 5px;
    outline: none;
}