.favorite-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    .favorite-title {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        font-size: 3.5rem;
        max-width: 400px;
       }

}

.no-favorite-movie-container {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #ff6347; /* Tomato color for contrast */
    width:100%;
}
  

.movie-section-main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @media (min-width: 560px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    gap: 2.5rem;
}