.hero-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   .title {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-size: 3.5rem;
    max-width: 400px;
   }
   .title-special-text {
     color: #00FFFF;
   }
    height: 50vh;
    padding-inline: 200px;
    padding-block: 100px;
    padding-bottom: 50px;
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
        padding-inline: 20px;
        .title {
           font-size: 2.25rem;
           max-width: unset;
           width: 100%;
        }
    }
}