.movie-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    .movie-section-title {
        display: flex;
        justify-content: space-between;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        font-size: 2.75rem;
    }
    .movie-section-search {
        width: 400px;
        font-size: unset;
    }
    .search-support-text {
        font-size: 10px;
    }
    .movie-section-main {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        @media (min-width: 560px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @media (min-width: 768px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
        @media (min-width: 1024px) {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }
        gap: 2.5rem;
    }
    .no-movies{
        color: #ff4d4d; /* Bright red for visibility */
        font-size: 2rem; /* Large font size */
        font-family: 'Arial', sans-serif; /* Clean font */
        text-transform: uppercase; /* All caps for emphasis */
        font-weight: bold; /* Bold text */
        letter-spacing: 3px; /* Spaced out letters */
        text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 77, 77, 0.8); /* Glow effect */
        text-align: center; /* Center the text */
        margin-top: 50px; /* Add some spacing */
    }
}